.chart-line-pass-by-team-card {
  width: 99%;
  display: grid;
  height: 580px;
  padding: 16px;
  background: #efefef;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  min-width: 1300px;
  max-width: 1500px;
}

body.dark-mode .chart-line-pass-by-team-card {
  background-color: #3A3A3A;
  color: #f0f0f0;
}
