.chart-grow-pass-request-card {
  width: 99%;
  display: grid;
  height: 430px;
  padding: 16px;
  background: #efefef;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  min-width: 1300px;
  max-width: 1500px;
}

body.dark-mode .chart-grow-pass-request-card {
  background: #3a3a3a;
}
