.default-table-wrapper {
  overflow-x: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  color: black
}

.default-table-title {
  font-size: 20px;
  font-weight: 700;
  color: black
}

.default-table {
  width: 100%;             
  table-layout: fixed;  
  border-collapse: collapse;
  color: black
}

.default-table thead {
  display: table-header-group;
  background-color: #f5f5f5;
  text-align: left;
  color: black
}

.default-table th,
.default-table td {
  width: 120px;
  height: 30px;     
  padding: 8px 16px;
  border-bottom: 1px solid #e0e0e0;
  color: black
}

.default-table td:first-child,
.default-table th:first-child {
  padding-left: 50px;
}

.default-table td:nth-child(5),
.default-table th:nth-child(5) {
  padding-right: 100px; 
  padding-left: 80px; 
}

.default-table-name {
  font-weight: 500;
  color: black
}

.default-table .clickable-row {
  cursor: pointer;
}

.default-table .clickable-row:hover {
  background-color: #f0f8ff; 
}

.default-table th,
.default-table td {
  white-space: nowrap;
}

body.dark-mode .default-table-wrapper {
  background: #1d1d1d;
  color: #f0f0f0;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
}

body.dark-mode .default-table-title {
  color: #ffffff;
}

body.dark-mode .default-table {
  color: #f0f0f0;
}

body.dark-mode .default-table thead {
  background-color: #2a2a2a;
  color: #f0f0f0;
}

body.dark-mode .default-table th,
body.dark-mode .default-table td {
  border-bottom: 1px solid #444;
  color: #f0f0f0;
  background-color: transparent;
}

body.dark-mode .default-table-name {
  color: #ffffff;
}

body.dark-mode .default-table .clickable-row:hover {
  background-color: #1a3222;
}
